@import url(../reindeer/styles.css);

.v-tree-node {
	background: transparent url(images/plus-icon.gif) no-repeat 5px 5px;
	padding: 1px 0;
}

.v-tree-node-expanded {
	background: transparent url(images/minus-icon.gif) no-repeat 5px 5px;
	padding: 1px 0;
}

.v-label-screenHeading {
    font-size: 20px;
    line-height: normal;
}

.v-label-screenSubHeading {
    font-size: 14px;
    line-height: normal;
}


.v-treetable-treespacer {
    display:inline-block;
    background: transparent;
    height:15px;
   /* defines the amount of indent per level */
    width:15px;
}
	
.v-treetable-node-closed {
    background: url(images/arrow-right.png) right center no-repeat;
}
	
.v-treetable-node-open {
   background: url(images/arrow-down.png) right center no-repeat;
}
	
.v-treetable .v-checkbox {
   display: inline-block;
   padding-bottom:4px;
}

.v-layout-applicationTopHeader {
	background-color:blue;
}

.bordertest {
	border-style : solid; 
	border-color: #949698;
	background-color:#eff0f1; 
	border-width : 1px;
	border-bottom : 1px;
	margin-top: 50px;
	margin-right: 3px;
}

.subComponent{
	border-bottom-color: #c2c3c4;
	border-bottom : 1px;
	margin-top: 0px;
	padding-bottom:10px;
	border-bottom-style: solid;
}

.loginform {
	margin-top : 20%;
	margin-left : 45%;
	height: 150px;
}