<?xml version="1.0" encoding="UTF-8"?><project-modules id="moduleCoreId" project-version="1.5.0">
    <wb-module deploy-name="sites">
        <wb-resource deploy-path="/" source-path="/WebContent"/>
        <wb-resource deploy-path="/WEB-INF/classes" source-path="/src"/>
        <dependent-module archiveName="core.jar" deploy-path="/WEB-INF/lib" handle="module:/resource/core/core">
            <dependency-type>uses</dependency-type>
        </dependent-module>
        <property name="java-output-path" value="/sites/WEB-INF/classes"/>
        <property name="context-root" value="/"/>
    </wb-module>
</project-modules>
